@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html.dark {
  --background: #621c1c;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, sans-serif;
}
